

.WeatherApp-main-div{
    display:flex;
    background-image: url(https://media.istockphoto.com/id/532378051/photo/night-sky-with-stars-and-clouds.jpg?s=612x612&w=0&k=20&c=M6HA8A8tq5cbJsAU0y39Qx6dTyoIti-CaYMi9WWbB_U=);
    background-repeat: no-repeat;
    background-size: cover;
    /* page-break-inside: avoid; */

    filter: brightness(1.2) contrast(1.2) saturate(1.2);
    height: 100vh;
    width:100vw;
}
.sub-div{
    /* display:inline-block; */
    height: 50vh;
    width:50vw;
    margin-left:35%;
    /* margin-top: 5%; */
font-family: 'Lobster', cursive;
    color:white;

}
.head{
    margin-bottom: 15%;
}
.cloud{
    font-size:7vh;
}
.input-box{
    font-size: xx-large;
    background-color:rgb(163, 204, 218);
    padding-left: 7%;
    outline: none;

}
.weather-description{
    
    width:50vw;
}
.div-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: -8%;
    margin-top: 7%;
}